<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Traces: Logs and cookies</title>
  </head>

  <body>
    <form method="POST">
  <input name="log_input" placeholder="type to print in logs" />
  <input type="submit" />
    </form>
    <p>GYM GANG GANG SISISISISI  </p>
    <script>console.log("this a debug message")</script>
    <script>console.log("{{text}}")</script>


  </body>
</html>

